footer {  
    align-self: flex-end;
    line-height: 3;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(#406882, #6998AB);
    background-color: #929fba;
    .footer-body{
        display: flow-root;
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .ico-social{
        font-size: 20px;
        display: inline-block;
        margin: 0 20px;
        width: 3%;
    }
    .fab{
        text-decoration: none;
        color: #FFF;
    }
}