header{
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-color: #B1D0E0;
    .grid-conteiner > *{
        box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
        border-radius: 4px;
        padding: 10px;    
    }
    .container-header{
        grid-area: header;
    }
    .container-navbar{
        grid-area: navbar;
    }
    .container-main{
        grid-area: main;
    }
    .container-footer{
        grid-area: footer;
    }
    .grid-conteiner{
        grid-template:
            "header header" 100px
            "navbar navbar" 50px
            "main   main"   auto
            "footer footer" 100px/
            200px   auto;
    }
    @media screen and (min-width:700px){
        .grid-conteiner{
            grid-template:
                "header header  header" 100px
                "navbar main    main"   auto
                "footer footer  footer" 100px/
                200px   auto    200px;
        }
    }
    .navbar{
        margin-bottom: 0;
        background-color: #f4511e;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
        li{
            a{
                &:hover{
                    color: #f4511e !important;
                    background-color: #fff !important;
                }
            }
            .active{
                a{
                    color: #f4511e !important;
                    background-color: #fff !important;
                }
            }
        }
        .navbar-default, .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }
        .navbar-light{
            background-color: #B1D0E0;
        }
    }
    .conteiner-logo{
        background-size: cover;     
    }
    .logo{
            animation-name: logoAnimation;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-delay: 1;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: initial;
            height: 150px;
        }
    @keyframes logoAnimation {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        20%,80% {
            opacity: 1;
            transform: translateX(0);
            }
        100% {
            opacity: 0;
            transform: translateX(100px);
        }
    }
}