footer {  
        align-self: flex-end;
        line-height: 3;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(#406882, #6998AB);
        .footer-body{
            display: flow-root;
            box-sizing: content-box;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .ico-social{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            width: 3%;
        }
    }